
.box{
    display: flex;
    margin: 0 30px 0 30px;
}
.containet{
    position: relative;
    width: 50%;
}
h2{
    margin: 0px 80px 30px 80px;
    padding: 30px 30px 0px 30px ;
    color: #2978b5;
}
.form form{
    display: flex;
    flex-direction: column;
    border:  1px solid rgb(0, 0, 0);
    margin: 0px 80px 0px 80px;
    padding: 30px 30px 0px 30px ;
}
input,textarea{
    border:  1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 20px 0;
    background-color: #7272eb50;
}
input[type="submit"]{
    background-color: #2978b5;
    cursor: pointer;
    color: #fff;
    margin-left: 50%;
    width: 50%;
    text-transform: uppercase;
    font-weight: 500;
}
textarea{
    padding-bottom: 40px;
}
.c_detail{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.phone{
    border: 1px solid #2978b5;
    padding: 20px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
}
.phone p{
    color: #2978b5;
    margin-top: 10px;
}